/* desktop */
@media (min-width:1024px) {
    h1 {
        font-size: 24px;
    }

    /* forgot */
    .set-card {
        width: 800px;
        height: 525px;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .set-image {
        width: 159px;
        height: 159px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
    }

    .container-forgot {
        display: flex;
        justify-content: center;
        height: 100vh;
        margin-top: 75px;
    }

    .container {
        display: flex;
        justify-content: center;
        margin-top: 55px;
    }

    /* login */
    .card-login {
        width: 600px;
        height: 600px;
        background-color: #F5F5F5;
        padding-top: 25px !important;
    }

    .label-login {
        width: 500px;
        height: 41px;
        font-size: 12px;
    }

    .btn-login {
        font-size: 18px !important;
        font-weight: bold !important;
        color: var(--yellow) !important;
        background-color: var(--purple) !important;
    }

    /* index */
    .logo-panjang {
        width: 260px;
        height: 65px;
    }

    .container-foto {
        display: flex;
        justify-content: center;
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }

    .container-index {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    a {
        font-size: 16px;
        text-decoration: none;
    }

    .summary {
        background-color: #F5F5F5 !important;
        padding-top: 20px;
        display: flex !important;
    }

    .v-main {
        padding-left: 150px !important;
        padding-bottom: 0 !important;
    }

    .font-li {
        font-size: 18px;
        font-weight: bold;
    }

    h6 {
        font-size: 18px;
    }

    /* h4 {
        font-size: 22px;
    } */


    /* kerja kuis */
    .kuis-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 16px;
    }

    .soal-container {
        grid-column: 1 / 2;
    }

    .navigasi-container {
        grid-column: 2 / 3;
    }
}