/* smartphone */
@media (max-width:560px) {
    h1 {
        font-size: 16px;
    }
    h2{
        font-size: 14px;
    }


    /* forgot */
    .set-card {
        width: 400px;
        height: 378px;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .set-image {
        width: 83px;
        height: 83px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: center;
        margin-top: 120px;
    }

    .color-purple {
        background-color: #612D81 !important;
        color: white !important;
    }

    /* login */
    .card-login {
        width: 300px;
        height: 378px;
        background-color: #F5F5F5;
        padding-top: 25px !important;
    }

    .label-login {
        width: 222px;
        height: 41px;
    }

    .btn-login {
        font-size: 16px !important;
        font-weight: bold !important;
        color: var(--yellow) !important;
        background-color: var(--purple) !important;
    }

    /* index */
    .logo-panjang {
        width: 140px;
        height: 38px;
    }

    .container-forgot {
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-top: 110px;
    }

    .set-foto {
        width: 330px;
        height: 185px;
    }

    .container-foto {
        display: flex;
        justify-content: center;
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }

    .container-index {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .font-li {
        font-size: 12px;
    }

    /* card */
    p {
        font-size: 12px;
    }

    .navigasi {
        margin-top: 32px;
        margin-left: 8px;
        margin-right: 8px;
        padding-bottom: 16px;
        padding-top: 8px;
    }

}